* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background__img {
  background-image: url(/fabian-grohs-653254-unsplash.jpg);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%, 50%;
}

header {
  background-color: rgba(0, 0, 0, 0.911);
}

.welcome {
  font-family: 'Space Mono', monospace;
  position: absolute;
  top: 25%;
  left: 10%;
}

.welcome__text {
  color: rgba(251, 255, 2, 0.753);
  margin: 10px;
}

.welcome__text-next {
  color: rgba(255, 0, 0, 0.753);
  margin: 10px;
}

.welcome__text-next2 {
  color: rgba(0, 255, 255, 0.753);
}